@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}


.container {width: 90%; margin: auto;}

/* .header .top-strip {} */

/* .bg-org{background: #ff5252;} */

.link:hover{ color: #ff5252;}
.bg-primary {background: #ff5252;}